/* Styles inspirado na Kabum */
body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.card {
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    color: #f7931e;
    font-weight: bold;
}

.card-text {
    color: #ccc;
}

/* botoes geral */
.btn {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.btn-primary {
    background-color: #f7931e;
    border-color: #f7931e;
    color: #fff;
}

.btn-primary:hover {
    background-color: #e6830d;
    border-color: #e6830d;
    color: #fff;
}

.btn-secondary {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #5a5a5a;
    border-color: #5a5a5a;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    color: #fff;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529; /* texto dark para contraste */
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
    color: #212529;
}


.header {
    background-color: #000;
    padding: 1rem 0;
    border-bottom: 3px solid #f7931e;
}

.navbar-brand {
    color: #f7931e !important;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #f7931e !important;
}

.form-control {
    background-color: #3a3a3a;
    border: 1px solid #555;
    color: #fff;
}

.form-control:focus {
    background-color: #3a3a3a;
    border-color: #f7931e;
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(247, 147, 30, 0.25);
}

/* styles da paginação */
.page-item .page-link {
    background-color: #2a2a2a;
    border-color: #3a3a3a;
    color: #f7931e;
}

.page-item.active .page-link {
    background-color: #f7931e;
    border-color: #f7931e;
    color: #000;
}

.page-item .page-link:hover {
    background-color: #e6830d;
    border-color: #e6830d;
    color: #000;
}

.page-item.disabled .page-link {
    color: #6c757d;
}

/* quantidade de intens botoes */
.quantity-widget .btn {
    padding: 0.25rem 0.5rem; /* padding +/- buttons */
    font-size: 0.75rem; /* font size */
}